In [75]:
import pandas as pd
import numpy as np

df = pd.read_csv('base_data.csv')
df.head()

,Unnamed: 0,Training/Test,Random #,Account_ID,Value,"Deal Outcome (1 Won, 2 Lost, 3 Unq)",Requested Demo,Viewed Pricing,LeadID,LeadID.1,...,company.type,company.ticker,company.metrics.alexaUsRank,company.metrics.alexaGlobalRank,company.metrics.googleRank,company.metrics.employees,company.metrics.marketCap,company.metrics.raised,company.metrics.annualRevenue,company.tech
0,0,NaN,NaN,547369.0,22.0,1.0,0.0,0.0,1006508748,1006508748,...,private,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN
1,1,NaN,NaN,547901.0,25.0,1.0,0.0,0.0,1006515211,1006515211,...,personal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1006612771,1006612771,...,private,NaN,NaN,14768749.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1006609841,1006609841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,547763.0,100.0,1.0,0.0,0.0,1006499362,1006499362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.columns.values

array(['Unnamed: 0', 'Training/Test', 'Random #', 'Account_ID', 'Value',
       'Deal Outcome (1 Won, 2 Lost, 3 Unq)', 'Requested Demo',
       'Viewed Pricing', 'LeadID', 'LeadID.1', 'MQL', 'Lead_Created_Date',
       'Lead_Created Date DS', 'Month', 'MHChannel', 'MHSource',
       'MHProgram', 'MHCampaign', 'LCChannel', 'LCSource', 'team_size',
       'Industry', 'timezone', 'Unqualified_Reason',
       'Competitor_During_Sales_Cycle', 'Location', 'Tags', 'Past_CRM',
       'Account_ID.1', 'Industry_Type', 'Origin', 'business_role_key',
       'Stated_Team_Size', 'LeadConvLogDealID', 'Deal_Created_Date', 'SAL',
       'user_id', 'DealOwner', 'SQLCreatedDate', 'SQL', 'from_stage',
       'to_stage', 'WonCreatedDate', 'Won_From_Stage', 'Won_To_Stage',
       'Won', 'DealScope', 'person.employment.name',
       'person.employment.title', 'person.employment.domain',
       'person.employment.seniority', 'person.employment.role',
       'company.category.sector', 'company.category.industryGroup',
       'company.category.industry', 'company.category.subIndustry',
       'company.tags', 'company.foundedDate', 'company.location',
       'company.timeZone', 'company.utcOffset', 'company.geo.streetNumber',
       'company.geo.streetName', 'company.geo.subPremise',
       'company.geo.city', 'company.geo.postalCode', 'company.geo.state',
       'company.geo.stateCode', 'company.geo.country',
       'company.geo.countryCode', 'company.geo.lat', 'company.geo.lng',
       'company.type', 'company.ticker', 'company.metrics.alexaUsRank',
       'company.metrics.alexaGlobalRank', 'company.metrics.googleRank',
       'company.metrics.employees', 'company.metrics.marketCap',
       'company.metrics.raised', 'company.metrics.annualRevenue',
       'company.tech'], dtype=object)

In [77]:
df.drop(['Unnamed: 0', 'Training/Test', 'Random #', 'Account_ID', 'LeadID', 'LeadID.1', 'MHProgram', 'MHCampaign', 'Account_ID.1', 
         'LeadConvLogDealID', 'user_id', 'from_stage',
       'to_stage', 'Won_From_Stage', 'Won_To_Stage'], axis = 1, inplace = True)

In [78]:
df.columns.values

array(['Value', 'Deal Outcome (1 Won, 2 Lost, 3 Unq)', 'Requested Demo',
       'Viewed Pricing', 'MQL', 'Lead_Created_Date',
       'Lead_Created Date DS', 'Month', 'MHChannel', 'MHSource',
       'LCChannel', 'LCSource', 'team_size', 'Industry', 'timezone',
       'Unqualified_Reason', 'Competitor_During_Sales_Cycle', 'Location',
       'Tags', 'Past_CRM', 'Industry_Type', 'Origin', 'business_role_key',
       'Stated_Team_Size', 'Deal_Created_Date', 'SAL', 'DealOwner',
       'SQLCreatedDate', 'SQL', 'WonCreatedDate', 'Won', 'DealScope',
       'person.employment.name', 'person.employment.title',
       'person.employment.domain', 'person.employment.seniority',
       'person.employment.role', 'company.category.sector',
       'company.category.industryGroup', 'company.category.industry',
       'company.category.subIndustry', 'company.tags',
       'company.foundedDate', 'company.location', 'company.timeZone',
       'company.utcOffset', 'company.geo.streetNumber',
       'company.geo.streetName', 'company.geo.subPremise',
       'company.geo.city', 'company.geo.postalCode', 'company.geo.state',
       'company.geo.stateCode', 'company.geo.country',
       'company.geo.countryCode', 'company.geo.lat', 'company.geo.lng',
       'company.type', 'company.ticker', 'company.metrics.alexaUsRank',
       'company.metrics.alexaGlobalRank', 'company.metrics.googleRank',
       'company.metrics.employees', 'company.metrics.marketCap',
       'company.metrics.raised', 'company.metrics.annualRevenue',
       'company.tech'], dtype=object)

* 'Value' => how much the deal is worth (compare with DealScope)
* 'DealScope' => how much the deal is worth (compare with Value) 
* 'Deal Outcome (1 Won, 2 Lost, 3 Unq)' =>
* 'Unqualified_Reason' => rep has to provide a reason as to why a lead is unqualified (list of 8-9 reasons) 
* 'MQL' => Marketing Qualified Lead
* 'Lead_Created_Date' => compare with Lead_Created Date DS
* 'Lead_Created Date DS' => compare with Lead_Created Date
* 'SAL' => Sales Accepted Lead
* 'Deal_Created_Date' => when SAL was created 
* 'SQL' => Sales Qualified Lead 
* 'SQLCreatedDate' => when SQL was created 
* 'Won' => 1 or 0 
* 'WonCreatedDate' => 
* 'Requested Demo' => 1 or 0 
* 'Viewed Pricing' => 1 or 0 
* 'Month' => ?
* 'MHChannel' => Marketing Hierarchy Channel 
* 'MHSource' => Marketing Hierarchy Source 
* 'Origin' => Marketing Hierarchy Origin (older-may not be relevant anymore)
* 'LCChannel' => Lead Capture Channel
* 'LCSource' => Lead Capture Source 
* 'team_size' => compare with Stated_Team_Size
* 'Stated_Team_Size' => compare with team size 
* 'Industry' => compare with industry type 
* 'Industry_Type' => compare with industry 
* 'timezone' => compare with Location
* 'Location' => compare with timezone 
* 'Competitor_During_Sales_Cycle' => another CRM tool that they are looking at 
* 'Past_CRM' => 
* 'Tags => tag assigned by sales person
* 'business_role_key' => what is their role 
* 'DealOwner' => rep who owns the deal on Base's side

In [79]:
dfmatch = pd.DataFrame(df['Value'] == df['DealScope'], columns = ['match'])
dfmatch.head()

   match
0   True
1   True
2  False
3  False
4   True

In [80]:
mismatch = dfmatch[dfmatch['match']==False].index.tolist()
df.ix[mismatch][['Value', 'DealScope']].head()

    Value  DealScope
2     NaN       75.0
3     NaN      125.0
14    NaN     2500.0
17    NaN      675.0
20    NaN      825.0

In [81]:
df_mismatch = df.ix[mismatch][['Value', 'DealScope']].head()

In [82]:
len(df[['Value']])

27731

In [83]:
len(df[['DealScope']])

27731

In [84]:
df[['DealScope']].count()

DealScope    3033
dtype: int64

In [85]:
df[['Value']].count()

Value    1551
dtype: int64

In [86]:
df_mismatch.dropna(how = 'any')

Empty DataFrame
Columns: [Value, DealScope]
Index: []

In [87]:
df['DealValue'] = df['DealScope']
df['DealValue'] = df[df['Value'] > df['DealScope']]
df['DealValue'].head()
# need to find a better way to choose the bigger value out of Value and DealScope

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: DealValue, dtype: object

In [88]:
df_mismatch

    Value  DealScope
2     NaN       75.0
3     NaN      125.0
14    NaN     2500.0
17    NaN      675.0
20    NaN      825.0

In [89]:
df.ix[mismatch][['DealValue']].head()

   DealValue
2        NaN
3        NaN
14       NaN
17       NaN
20       NaN

In [90]:
sampleFrame = pd.DataFrame({
       'A': [1111, 1112.0, 1113, 1115, 1114, 1116.1, 1117, np.NaN, np.NaN, 1112],
       'B': [1111, 1112, 1113.0, 1114, 1115, 1116, 1117.1, np.NaN, 1119, np.NaN]
       })

sampleFrame.loc[(sampleFrame['A'] > sampleFrame['B']), 'C'] = sampleFrame['A']
sampleFrame.loc[(sampleFrame['A'] < sampleFrame['B']), 'C'] = sampleFrame['B']
sampleFrame.loc[(sampleFrame['A'] == sampleFrame['B']), 'C'] = sampleFrame['B']
sampleFrame.loc[(np.isnan(sampleFrame['A'])), 'C'] = sampleFrame['B']
sampleFrame.loc[(np.isnan(sampleFrame['B'])), 'C'] = sampleFrame['A']

sampleFrame

        A       B       C
0  1111.0  1111.0  1111.0
1  1112.0  1112.0  1112.0
2  1113.0  1113.0  1113.0
3  1115.0  1114.0  1115.0
4  1114.0  1115.0  1115.0
5  1116.1  1116.0  1116.1
6  1117.0  1117.1  1117.1
7     NaN     NaN     NaN
8     NaN  1119.0  1119.0
9  1112.0     NaN  1112.0

In [91]:
sampleFrame = pd.DataFrame({
       'A': [1111, 1112.0, 1113, 1115, 1114, 1116.1, 1117, np.NaN, np.NaN, 1112],
       'B': [1111, 1112, 1113.0, 1114, 1115, 1116, 1117.1, np.NaN, 1119, np.NaN]
       })

sampleFrame['C'] = sampleFrame[['A', 'B']].max(axis=1)
sampleFrame

        A       B       C
0  1111.0  1111.0  1111.0
1  1112.0  1112.0  1112.0
2  1113.0  1113.0  1113.0
3  1115.0  1114.0  1115.0
4  1114.0  1115.0  1115.0
5  1116.1  1116.0  1116.1
6  1117.0  1117.1  1117.1
7     NaN     NaN     NaN
8     NaN  1119.0  1119.0
9  1112.0     NaN  1112.0

In [92]:
df['DealValue'] = df[['Value', 'DealScope']].max(axis = 1)
df[['DealValue', 'Value', 'DealScope']].head()

   DealValue  Value  DealScope
0       22.0   22.0       22.0
1       25.0   25.0       25.0
2       75.0    NaN       75.0
3      125.0    NaN      125.0
4      100.0  100.0      100.0

In [93]:
df.drop(['DealScope', 'Value'], axis = 1, inplace = True)

In [94]:
dfmatch = pd.DataFrame(df['Lead_Created_Date'] == df['Lead_Created Date DS'], columns = ['match'])
mismatch = dfmatch[dfmatch['match']==False].index.tolist()
df.ix[mismatch][['Lead_Created_Date', 'Lead_Created Date DS']].head()

  Lead_Created_Date Lead_Created Date DS
0  2016-01-02-04-39           2016-01-02
1  2016-01-02-09-33           2016-01-02
2  2016-01-04-03-49           2016-01-04
3  2016-01-04-03-17           2016-01-04
4  2016-01-02-05-55           2016-01-02

In [95]:
df['Lead_Created_Date_Only'] = df['Lead_Created_Date'].str[:10]
df['Lead_Created_Date_Only'].head()

0    2016-01-02
1    2016-01-02
2    2016-01-04
3    2016-01-04
4    2016-01-02
Name: Lead_Created_Date_Only, dtype: object

In [99]:
def mismatch_finder(df, col1, col2): 
    dfmatch = pd.DataFrame(df[col1] == df[col2], columns = ['match'])
    mismatch = dfmatch[dfmatch['match']==False].index.tolist()
    return df.ix[mismatch][[col1, col2]]
    
    
# mismatch_finder(df, 'Lead_Created_Date_Only', 'Lead_Created Date DS')
mismatch_finder(sampleFrame, 'A', 'B')

        A       B
3  1115.0  1114.0
4  1114.0  1115.0
5  1116.1  1116.0
6  1117.0  1117.1
7     NaN     NaN
8     NaN  1119.0
9  1112.0     NaN

In [ ]:
# checked and they're the same and now we are dropping the created date only